<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuqiang.service.mapper.servicelogic.PracticeMapper">

    <select id="queryPayDate" resultType="com.liuqiang.model.bo.data.PracticeDataBo">
        select
            case when pay between 0 and 3000 then  '1-3k'
                 when pay between 3000 and 5000 then  '3-5k'
                 when pay between 5000 and 10000  then  '5-10k'
                 when pay >=10000 then '>10k'
                end 'area',count(pay) total
        from pms_practice
        <where>
            1=1
            <if test="stuId != null and stuId != ''">
                and stu_id = #{stuId}
            </if>
        <if test="stuName != null and stuName != ''">
                and stu_name = #{stuName}
        </if>
        </where>
        group by area;
    </select>
</mapper>
